.app{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.app >button{
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  color: white;
  background-color: #24a0ed;
}
.app > button:hover{
  transform: scale(1.1);
  background-color: #379ad3;
}
